.statcontainer {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: 0px dotted #000000;
  border-radius: 10px;
  font-family:
    Arial Black,
    sans-serif;
}
