.app {
  background-color: rgb(118, 118, 118);
  padding: 10px;
  align-self: center;
  text-align: center;
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.next-button {
  margin-top: 10px;
  font-family:
    Arial Black,
    sans-serif;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #4d505f;
  border-right-color: #4d505f;
  border-bottom-color: #4d505f;
  border-left-color: #4d505f;
  background-color: #000000;
}
